footer {
    background-color: #cc6600;
    padding: 2em;
    width: 100%;
    text-align: center;

    ul {
        margin: 0 auto;
    }

    li {
        list-style: none;
        display: block;
        margin: 10px auto;
        color: white;
        font-size: 1em;
    }
}