footer {
    background-color: #cc6600;
    padding: 2em;
    width: 100%;
    text-align: center;

    ul {
        margin: 0 auto;
        display: inline-block;
    }

    li {
        display: inline-block;
        margin: 0 1em;
        color: white;
        font-size: 1em;
    }
}