.flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 100%;
    margin: 10px 0;

    li {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        label, p {
            padding: 8px;
            font-weight: 600;
            letter-spacing: .09em;
            text-transform: uppercase;
            flex: 1;
            max-width: 20%;
            margin: 0;
            
        }

        label+* {
            flex: 1 0 100%;
        }

        input, textarea {
            padding: 15px;
            border: 1px solid #01a4cd;
            resize: none;
            font-size: 1em;
            border-radius: 2.5px;

            &:focus {
                outline: none !important;
                border:1px solid orange;
                box-shadow: 0 0 10px #01a4cd;
            }
        }

        button {
            margin-left: auto;
            padding: 8px 16px;
            border: none;
            background: #01a4cd;
            color: #f2f2f2;
            text-transform: uppercase;
            letter-spacing: .09em;
            border-radius: 5px;
            font-size: medium;

            &:hover {
                background-color: #004a75;
            }
        }
    }


}