* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

body {
    background-color: #f4f4f4;
}

main {
    min-height: 77.5vh;
}

.inline-display {
    display: inline;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #cc6600;
    color: white;
    padding: 8px;
    z-index: 999;
}

.skip-link:focus {
    top: 0;
}

.h2 {
    margin: 30px;
    color: #cc6600;
    font-size: x-large;
}

.text-center {
    text-align: center;
}

.fluid-container {
    width: 100%;
}

.error-message {
    font-size: xx-large;
    margin: 40px auto;
    color: #4d4d4d;
    grid-column-start: 1;
    grid-column-end: 4;
    border: none;
    
    button {
    padding: 8px 16px;
    background: #01a4cd;
    color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 5px;
    font-size: medium;

        &:hover {
            background-color: #004a75;
        }
    }
}