@media screen and (min-width: 650px) {
    .app-bar__brand h1 {
        font-size: 1.5em;
    }

    .hero__title {
        color: #fff;
        font-weight: 600;
        font-size: x-larger;
    }
    
    .hero__tagline {
        color: #fff;
        margin-top: 16px;
        font-size: larger;
        font-weight: 300;
    }

    .h2 {
        margin: 30px;
        color: #cc6600;
        font-size: 8vw;
    }

    .box-menu {
        grid-column-start: 1;
        grid-column-end: 3;

        .box-menu-item {
            grid-template-columns: repeat(2, 275px);
            justify-content: center;
        }
    }

    .card {
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }

        .rating {
            font-size: 5vw;
        }

        .title {
            font-size: 6vw;
        }

        .description {
            font-size: 5vw;
        }
    }
    
}